.bahu {
    position: relative;
    width: 100%;
    height: 100vh;
}

.bahu_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.bahu_title {
    position: absolute;
    bottom: 15%;
    right: 10%;
    padding: 15px;
    color: black;
    font-size: 4rem;
}